body {
    font-family: 'Roboto', sans-serif;
    background-color: #F6F7FC;
}

.text-p-grey {
    color: #A2A1A2;
    font-size: 1rem;
}

header {
    border-bottom: 5px solid #E1E2E4;
}

header .row ul li {
    list-style-type: none;
    display: inline-block;
    margin-left: 8px;
    font-weight: bold;
}

header .menu {
    padding: 10px 20px 10px 10px;
    flex-direction: row-reverse;
}

.container .content {
    margin-top: 100px;
    min-height: 170px;
    background-color: #fff;
    border-radius: 5px;
    align-items: center;
}

.container .content .col-1 {
    width: 100%;
    margin-top: 20px;
}

.container .content .col-1 img {
    width: 50%;
    margin: auto;
    border-radius: 100%;
    display: block;
}

.container .content .col-2 {
    margin-top: 20px;
    width: 100%;
    text-align: center;
}

.container .content .col-2 * {
    padding-bottom: 15px;
}

.container .content .col-2 h3 {
    font-size: 1rem;
}

.container .content .col-2 button {
    padding: 7px 18px;
    border: 0;
    border-radius: 3px;
    margin-right: 3px;
    font-weight: bold;
}

.container .content .col-2 .contact {
    background-color: #0000F8;
    border: 1px solid #0000F8;
    color: #fff;
}

.container .content .col-2 .resume {
    background-color: #fff;
    border: 1px solid #2E6E16;
    color: #2E6E16;
}

.container .content .col-3 {
    margin: 20px 0 20px 0;
    width: 100%;
}

.container .content .col-3 table {
    border-left: 2px solid #e6e6e6;
    padding-left: 20px;
}

.container .content .col-3 table tr td {
    width: 30%;
    padding: 2px 0;
    line-height: 24px;
}
    
.container .content .col-3 table tr .subject {
    font-weight: bold;
}

.container .row form, .container .row form .input-col input, .container .row form .input-col button {
    width: 100%;
    box-sizing: border-box;
    font-weight: bold;
}

.container .row form .input-col {
    margin-bottom: 15px;
    padding: 5px 30px;
}

.container .row form button {
    margin-top: 5px;
    padding: 10px;
    width: 100%;
    border: 0;
    background-color: #2E6E16;
    color: #fff;
    border-radius: 3px;
}

.footer {
    margin-top: 75px;
    background-color: dimgrey;
    text-align: center;
    padding: 25px;
    color: #fff;
}

@media (min-width: 576px) {
    .container .content .col-1 {
        width: 300px;
    }

    .container .content .col-1 img {
        width: 200px;
        margin: auto;
        border-radius: 100%;
        display: block;
    }

    .container .content .col-2 {
        width: 350px;
        text-align: left;
    }

    .container .content .col-3 table {
        border-left: 0;
    }

    .container .content .col-3 {
        padding: 30px;
    }

    .container .row form .input-col {
        padding: 0;
    }
}



@media (min-width: 1200px) {
    .container .content .col-1 {
        width: 150px;
    }

    .container .content .col-1 img {
        width: 100px;
    }

    

    .container .content .col-3 table tr td {
        width: 110px;
    }

    .container .content .col-3 {
        width: auto;
    }
}